@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #ececec;
    --white: #f7f7f7;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: "Rubik", sans-serif;
}

button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    background-color: var(--gray);
}

.header-container {
    margin: 0 auto;
    padding-block: 1rem;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-inline: 2rem;
}

.input-container{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.input{
    min-width: 220px;
    width: 100%;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 2rem;
}

.cards-container{
   display: grid;
   grid-template-columns: 1fr;
}
